{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center">Recommend something</h1>
    <h3 class="text-muted text-center"><small>All fields without <mark>*</mark> are optional.</small></h3>
    <form action="{{ url_for('recommendations.post_recommendation') }}" method="post">
        {{ form.csrf_token }}
        <div class="mb-3 mt-3">
            {{ form.fiction_type.label(class="form-label") }}
            {{ form.fiction_type(placeholder="Enter the type of fiction", class="form-control")}}
            <p class="text-muted"><small>For example: Movie</small></p>
            {% if form.fiction_type.errors %}
            {% for error in form.fiction_type.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 mt-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(placeholder="Enter title", class="form-control") }}
            <p class="text-muted"><small>For example: Interstellar</small></p>
            {% if form.title.errors %}
            {% for error in form.title.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 mt-3">
            {{ form.short_description.label(class="form-label") }}
            {{ form.short_description(placeholder="Enter short description", class="form-control", rows="3")}}
            <p class="text-muted"><small>For example: This is a sci-fi movie</small></p>
            {% if form.short_description.errors %}
            {% for error in form.short_description.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 mt-3">
            {{ form.opinion.label(class="form-label") }}
            {{ form.opinion(placeholder="Enter your opinion", class="form-control", rows="3")}}
            <p class="text-muted"><small>For example: I loved this movie</small></p>
            {% if form.opinion.errors %}
            {% for error in form.opinion.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 mt-3">
            {{ form.tags.label(class="form-label") }}
            {{ form.tags(placeholder="Enter tags", class="form-control") }}
            <p class="text-muted"><small>For example: sci-fi, movie, space</small></p>
            {% if form.tags.errors %}
            {% for error in form.tags.errors %}
            <p class="text-muted fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Post recommendation</button>
        </div>
    </form>
</div>
{% endblock %}